@media(max-width: 1180px) {
    .page.contact .content .information {
        position: initial;
    }

    .page.contact .content .information .title h1 {
        margin-left: 0;
    }

    .page.contact .content .information .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .page.contact .content .information .text p {
        margin-left: 0;
    }

    .page.contact .content .contacts {
        position: initial;
        display: flex;
        gap: 30px;
        justify-content: space-around;
        margin: 20px;
    }

    .page.contact .content .contacts .contact-container {
        margin: 0;
    }
}

@media(max-width: 1065px) {
    .page.works .content .container {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 870px) {
    .page.my-skills .information .text {
        margin-left: 20px;
        width: auto;
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .page.home .information .content {
        font-size: 35px;
        line-height: 60px;
    }

    .page.my-skills .information .container {
        flex-direction: column;
    }

    .page.my-skills .information .image-container {
        margin-bottom: 10px;
    }

    .page.my-skills .information .text {
        margin-left: 0;
        margin-bottom: 30px;
    }
}

@media(max-width: 700px) {
    .page.about .information .content .history {
        width: 500px;
    }
}

@media(max-width: 640px) {
    .side-bar.close{
        height: 0;
        width: 0;
        padding: 0;
    }

    .side-bar.close img {
        height: 0;
        width: 0;
    }

    .side-bar.close li .icon {
        font-size: 0px;
    }

    .side-bar.close .botton-content .icon {
        font-size: 0px;
    }

    .side-bar.close header .toggle {
        font-size: 0;
        height: 0;
        width: 0;
    }

    .side-bar-phone.close {
        display: block;
    }

    .background .background-detail .detail, .background .background-detail .detail-botton {
        margin-left: 0;
    }
    
    .page.home .detail, .page.home .detail-botton {
        margin-left: 20px;
    }

    .page.home .information .content, .page.home .sub-information .content {
        margin-left: 40px;
    }

    .page.home .button-container {
        margin-top: 50px;
        margin-left: 0;
    }

    .page.about {
        margin-left: 0;
    }

    .page.my-skills {
        margin-left: 0;
    }

    .page.works {
        margin-left: 0;
    }

    .page.works .content .container .project a {
        opacity: 80%;
    }

    .page.contact {
        margin-left: 0;
    }

    .page.contact .content {
        margin: 0 20px;
    }

    .page.contact .content .information {
        margin-left: 0;
    }

    .page.contact .content .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 575px) {
    .page.about .information .content .history {
        max-width: 350px;
    }
}

@media (max-width: 480px) {
    .page.home .information .content {
        font-size: 30px;
    }

    .page.works .content .container .project {
        padding: 10px 10px;
    }

    .page.works .content .container .project a img {
        height: 150px;
    }

    .page.works .content .container .project a span {
        top: 20%;
        left: 35%;
    }

    .page.works .content .container .project a:hover span {
        transform: scale(0.8);
    }
}

@media(max-width: 458px) {
    .page.about .information .content .history {
        width: auto;
    }

    .page.my-skills .information .container .text p {
        padding: 0px 10px;
    }

    .page.contact .content .information .title h1 {
        font-size: 80px;
        line-height: 80px;
    }
}

@media (max-width: 420px) {
    .page.home .information .content {
        font-size: 25px;
        line-height: 50px;
        word-wrap: break-word;
    }

    .page.about .information .content .title {
        font-size: 35px;
    }

    .page.contact .content .contacts .contact-container {
        width: 300px;
    }
}

@media(max-width:380px) {
    .page.contact .content .information .title h1 {
        font-size: 60px;
        line-height: 60px;
    }

}

@media(max-width: 355px) {
    .page.works .content .container .project {
        padding: 8px 8px;
    }

    .page.works .content .container .project a img {
        height: 125px;
    }

    .page.works .content .container .project a span {
        top: 15%;
        left: 35%;
    }
}