.page.about {
    color: #ffffff;
    margin-left: 75px;
}

.page.about .information {
    /* background-color: brown; */
}

.page.about .information .content .title {
    /* background-color: rgba(219, 115, 115, 0.192); */
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

.page.about .information .content .history-container {
    /* background-color: rgb(73, 42, 42); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.page.about .information .content .history {
    /* background-color: rgb(219, 115, 115); */
    display: flex;
    justify-content: center;
    text-align: center;
    width: 400px;
    font-size: 20px;
}

.page.about .information .content .cndbot {
    display: flex;
    width: 100px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 2px solid;
    border-color: #ffffff;
}

.page.about {
    display: none;
}